bende112:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
//<private-registry>:always-auth=true
